COMPOSE_PROJECT_NAME=streambloc
TZ=America/New_York
PUID=1000
PGID=1000

JELLYFIN_BIND_IP=0.0.0.0
JELLYFIN_HTTP_PORT=8096
JELLYFIN_PUBLIC_URL=http://10.0.0.187:8096
JELLYFIN_VERSION=latest

SONARR_BIND_IP=0.0.0.0
SONARR_HTTP_PORT=8989
SONARR_VERSION=latest

RADARR_BIND_IP=0.0.0.0
RADARR_HTTP_PORT=7878
RADARR_VERSION=latest

PROWLARR_BIND_IP=0.0.0.0
PROWLARR_HTTP_PORT=9696
PROWLARR_VERSION=latest

BAZARR_BIND_IP=0.0.0.0
BAZARR_HTTP_PORT=6767
BAZARR_VERSION=latest

QBITTORRENT_BIND_IP=0.0.0.0
QBITTORRENT_HTTP_PORT=8080
QBITTORRENT_VERSION=latest

STREAMBLOC_ROOT=/mnt/dropbloc/streambloc
MEDIA_ROOT=/mnt/dropbloc/streambloc-media

VIDEO_GID=44
RENDER_GID=109
